/* ---------------------- Botao Voltar Ao Topo ------------------ */
.voltar-para-o-topo {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  right: 38px;
  bottom: 35px;
  z-index: 99;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px rgba(70, 69, 69, 0.568);
  background-color: #1b1b1b;
  opacity: 0;
  transform: translateY(40px);
  pointer-events: none;
  transition: all 0.4s ease;
}
.voltar-para-o-topo svg {
  color: #9d090b;
  transition: all 0.3s ease;
}
.voltar-para-o-topo.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.voltar-para-o-topo:hover {
  background-color: rgba(39, 39, 39, 0.425);
  box-shadow: inset 0 0 0 3px rgba(189, 189, 189, 0.438);
}
.voltar-para-o-topo:hover svg {
  color: white;
}
@media (max-width: 768px) {
  .voltar-para-o-topo {
    display: none !important;
  }
}