@use "../styles/colors.scss" as *;

.title-main {
  color: $color-purple-2;
  font-family: var(--font-open-sans);
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 80px;

  &::before {
    content: "";
    position: absolute;
    left: -70px;
    background-color: $color-purple-2;
    width: 60px;
    height: 2px;

    @media (max-width: 500px) {
      width: 30px;
      left: -40px;
    }
  }

  @media (max-width: 500px) {
    margin-left: 50px;
  }
}

.span-content {
  font-family: var(--font-open-sans);
  font-size: 0.9rem;
  font-weight: 500;
  padding-left: 30px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    height: 90%;
    width: 3px;
    left: 0;
    background-color: $color-purple-3;

    @media (max-width: 500px) {
      left: -10px;
    }
  }

  @media (max-width: 500px) {
    text-align: justify;
    padding-left: 0;
  }
}

.banner {
  position: relative;
  z-index: 2;

  .slide-item {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 10px 20px;

    h2 {
      font-size: 3rem;
      color: $color-light-purple-5;
    }

    p {
      font-size: 1.2rem;
      max-width: 500px;
    }

    &.banner-1 {
      background: linear-gradient(
          53deg,
          rgba(0, 0, 0, 0.705),
          rgba(0, 0, 0, 0.507)
        ),
        url(../../public/banner/banner1.webp) center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.banner-2 {
      background: linear-gradient(
          53deg,
          rgba(0, 0, 0, 0.705),
          rgba(0, 0, 0, 0.507)
        ),
        url(../../public/banner/banner2.webp) center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.banner-3 {
      background: linear-gradient(
          53deg,
          rgba(0, 0, 0, 0.507),
          rgba(0, 0, 0, 0.507)
        ),
        url(../../public/banner/banner3.webp) center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  /* Customizações Slider */
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff; 
    background: rgba(0, 0, 0, 0.4); 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: 0.3s;
    padding: 10px;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
  }

  .swiper-button-prev {
    left: 30px !important;
  }

  .swiper-button-next {
    right: 30px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: $color-purple-2;
  }
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-purple-2;

  .base {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    gap: 10px;
    font-family: var(--font-josefin);
    flex-wrap: wrap;

    .service-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 150px;
      gap: 10px;
      text-align: center;

      svg {
        color: $color-light-purple-3;
        font-size: 80px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}

// Página Contato
.container-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-open-sans);

  .base {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 20px;
    gap: 50px;

    @media (max-width: 840px) {
      flex-wrap: wrap;
    }

    .box-title {
      display: flex;
      flex-direction: column;

      .title {
        font-family: var(--font-poppins);
        font-size: 3rem;
        color: $color-purple-3;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }

      .description {
        font-size: 1.5rem;
        color: $color-text-dark;
        font-weight: 500;
        line-height: 1.3rem;
      }
    }

    .box-details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: black;

      @media (max-width: 840px) {
        width: 100%;
      }

      .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;

        a {
          display: flex;
          gap: 10px;
          width: fit-content;
          padding: 10px 0;
          font-size: 1.2rem;
          align-items: center;
          color: rgb(63, 63, 63);

          svg {
            color: rgb(43, 43, 43);
            font-size: 23px;
            transition: all 0.3s ease;
          }

          &:hover {
            color: $color-light-purple-1;
            transition: all 0.3s ease;

            svg {
              color: $color-light-purple-3;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }

  iframe {
    width: 100%;
    border: none;
    height: 500px;
    // border-top: 10px solid rgba(194, 194, 194, 0.295);
    // box-shadow: 10px 10px 20px 5px rgba(43, 43, 43, 0.384);
  }
}

// Formulário include
.included-form {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-open-sans);

  .base {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 20px;
    gap: 50px;

    @media (max-width: 840px) {
      flex-wrap: wrap;
    }

    .box-title {
      display: flex;
      flex-direction: column;

      .title {
        font-family: var(--font-poppins);
        font-size: 3rem;
        color: $color-purple-3;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }

      .description {
        font-size: 1.5rem;
        color: $color-text-dark;
        font-weight: 500;
        line-height: 1.3rem;
      }
    }

    .box-details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: black;

      @media (max-width: 840px) {
        width: 100%;
      }

      .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;

        a {
          display: flex;
          gap: 10px;
          padding: 10px 0;
          font-size: 1.2rem;
          width: fit-content;
          align-items: center;
          color: rgb(63, 63, 63);

          svg {
            color: rgb(43, 43, 43);
            font-size: 23px;
          }

          &:hover {
            color: $color-light-purple-1;
            transition: all 0.3s ease;

            svg {
              color: $color-light-purple-3;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
}
