@use "../styles/colors.scss" as *;

.title-main {
  color: $color-purple-2;
  font-family: var(--font-open-sans);
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 80px;

  &::before {
    content: "";
    position: absolute;
    left: -70px;
    background-color: $color-purple-2;
    width: 60px;
    height: 2px;

    @media (max-width: 500px) {
      width: 30px;
      left: -40px;
    }
  }

  @media (max-width: 500px) {
    margin-left: 50px;
  }
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  .base {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    color: black;
    font-family: var(--font-poppins);

    @media (max-width: 768px) {
      gap: 50px;
      flex-direction: column;
    }

    .left {
      width: 50%;
      display: flex;
      justify-content: center;

      @media (max-width: 768px) {
        width: 100%;
      }

      .texto {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media (max-width: 425px) {
          text-align: center;
        }

        p {
          font-size: 20px;
          line-height: 25px;
        }

        .botoes {
          display: flex;
          gap: 20px;

          @media (max-width: 768px) {
            justify-content: center;
            align-items: center;
          }

          a {
            padding: 10px 20px;
            font-size: 1rem;
            font-family: var(--font-open-sans);
            border-radius: 10px;
            color: white;
            background-color: $color-purple-2;
            transition: all 0.3s ease;

            &:hover {
              background-color: $color-purple-3;
            }
          }
        }
      }
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      @media (max-width: 768px) {
        width: 100%;
      }

      img {
        width: 90%;
        height: 90%;
        min-height: 400px;

        @media (max-width: 768px) {
          width: 100%;
          min-height: auto;
        }
      }
    }
  }
}

.banner {
  position: relative;
  z-index: 2;

  .slide-item {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 10px 20px;

    .texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 15px;
      max-width: 800px;
      h2 {
        font-size: 3rem;
        color: #fff;
        padding: 10px 50px;
        border-radius: 50px;
      }

      p {
        font-size: 1.2rem;
        max-width: 500px;
      }

      a {
        padding: 10px 20px;
        font-size: 1rem;
        font-family: var(--font-open-sans);
        border-radius: 10px;
        background-color: $color-purple-2;
        transition: all 0.3s ease;

        &:hover {
          background-color: $color-purple-3;
        }
      }
    }

    &.banner-1 {
      background: linear-gradient(
          53deg,
          rgba(0, 0, 0, 0.705),
          rgba(0, 0, 0, 0.507)
        ),
        url(../../public/banner/banner1.webp) center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.banner-2 {
      background: linear-gradient(
          53deg,
          rgba(0, 0, 0, 0.705),
          rgba(0, 0, 0, 0.507)
        ),
        url(../../public/banner/banner2.webp) center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.banner-3 {
      background: linear-gradient(
          53deg,
          rgba(0, 0, 0, 0.507),
          rgba(0, 0, 0, 0.507)
        ),
        url(../../public/banner/banner3.webp) center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  /* Customizações Slider */
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: 0.3s;
    padding: 10px;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
  }

  .swiper-button-prev {
    left: 30px !important;
  }

  .swiper-button-next {
    right: 30px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: $color-purple-2;
  }
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-purple-2;

  .base {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    gap: 10px;
    font-family: var(--font-josefin);
    flex-wrap: wrap;

    .service-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 150px;
      gap: 10px;
      text-align: center;

      svg {
        color: #fff;
        font-size: 80px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}

// Página Contato
.container-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-open-sans);

  .base {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 20px;
    gap: 50px;

    @media (max-width: 840px) {
      flex-wrap: wrap;
    }

    .box-title {
      display: flex;
      flex-direction: column;

      .title {
        font-family: var(--font-poppins);
        font-size: 3rem;
        color: $color-purple-3;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }

      .description {
        font-size: 1.5rem;
        color: $color-text-dark;
        font-weight: 500;
        line-height: 1.3rem;
      }
    }

    .box-details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: black;

      @media (max-width: 840px) {
        width: 100%;
      }

      .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;

        a {
          display: flex;
          gap: 10px;
          width: fit-content;
          padding: 10px 0;
          font-size: 1.2rem;
          align-items: center;
          color: rgb(63, 63, 63);

          svg {
            color: rgb(43, 43, 43);
            font-size: 23px;
            transition: all 0.3s ease;
          }

          &:hover {
            color: $color-light-purple-1;
            transition: all 0.3s ease;

            svg {
              color: $color-light-purple-3;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }

  iframe {
    width: 100%;
    border: none;
    height: 500px;
    // border-top: 10px solid rgba(194, 194, 194, 0.295);
    // box-shadow: 10px 10px 20px 5px rgba(43, 43, 43, 0.384);
  }
}

// Formulário include
.included-form {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-open-sans);

  .base {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 20px;
    gap: 50px;

    @media (max-width: 840px) {
      flex-wrap: wrap;
    }

    .box-title {
      display: flex;
      flex-direction: column;

      .title {
        font-family: var(--font-poppins);
        font-size: 3rem;
        color: $color-purple-3;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }

      .description {
        font-size: 1.5rem;
        color: $color-text-dark;
        font-weight: 500;
        line-height: 1.3rem;
      }
    }

    .box-details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: black;

      @media (max-width: 840px) {
        width: 100%;
      }

      .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;

        a {
          display: flex;
          gap: 10px;
          padding: 10px 0;
          font-size: 1.2rem;
          width: fit-content;
          align-items: center;
          color: rgb(63, 63, 63);

          svg {
            color: rgb(43, 43, 43);
            font-size: 23px;
          }

          &:hover {
            color: $color-light-purple-1;
            transition: all 0.3s ease;

            svg {
              color: $color-light-purple-3;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  z-index: 999;
  .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    img {
      width: 90%;
      max-width: 500px;
      height: auto;
    }

    .closeModal {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      color: #fff;
      background-color: transparent;
      cursor: pointer;
      border: none;
    }
  }
}