/* [project]/src/styles/contratadas.scss.css [app-client] (css) */
.informacoes {
  justify-content: center;
  align-items: center;
  display: flex;
}

.informacoes .base .cards {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px 20px;
  padding: 50px 3%;
  display: flex;
}

.informacoes .base .cards .card {
  text-align: center;
  width: 250px;
  height: 190px;
  position: relative;
}

.informacoes .base .cards .card a {
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.informacoes .base .cards .card a img {
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.informacoes .base .cards .card a p {
  font-family: var(--font-poppins);
  color: #fff;
  text-align: center;
  background: rgba(31, 32, 34, .718);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 0 5px;
  font-size: 16px;
  line-height: 17px;
  transition: all .3s;
  display: flex;
  position: absolute;
  bottom: 0;
}

.informacoes .base .cards .card a:hover p {
  background: rgba(31, 32, 34, .898);
  height: 100%;
  transition: all .3s;
}

.mapaSite {
  color: #4e4e4e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mapaSite .base {
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 50px 10px;
  display: flex;
}

.mapaSite .base .link-default {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  font-family: var(--font-josefin);
  color: #535353;
  font-weight: 400;
  transition: all .3s;
}

.mapaSite .base .link-default:hover {
  color: #2b96c7;
  transition: all .3s;
}

.mapaSite .base .pagesList {
  counter-reset: numeros;
  font-size: 1.1rem;
  font-family: var(--font-poppins);
  flex-direction: column;
  gap: 15px;
  margin-left: 20px;
  padding-top: 10px;
  display: flex;
}

.mapaSite .base .pagesList li {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 25px;
  transition: all .3s;
  position: relative;
  transform: translateX(0);
}

.mapaSite .base .pagesList li:before {
  counter-increment: numeros;
  content: counter(numeros);
  text-align: center;
  border: 1.5px solid #222;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 13px;
  line-height: 25px;
  position: absolute;
  top: -3px;
  bottom: 10px;
  left: -10px;
}

.mapaSite .base .pagesList li:hover {
  margin-left: 10px;
}

.container-contratadas {
  color: #000;
  width: 100%;
  font-family: var(--font-open-sans);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  display: flex;
}

@media (max-width: 570px) {
  .container-contratadas {
    padding: 0;
  }
}

.container-contratadas .base {
  grid-template-columns: 73% 25%;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  display: grid;
}

@media (max-width: 826px) {
  .container-contratadas .base {
    grid-template-columns: auto;
  }
}

.container-contratadas .base .info-contratadas {
  text-align: center;
  color: #363636;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.container-contratadas .base .info-contratadas .imgs-contratadas {
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 10px;
  display: flex;
}

@media (max-width: 670px) {
  .container-contratadas .base .info-contratadas .imgs-contratadas {
    flex-wrap: wrap;
  }
}

.container-contratadas .base .info-contratadas .imgs-contratadas .img-responsive {
  max-width: 400px;
  height: 300px;
}

@media (max-width: 1177px) {
  .container-contratadas .base .info-contratadas .imgs-contratadas .img-responsive {
    width: 50%;
    height: 200px;
  }
}

@media (max-width: 671px) {
  .container-contratadas .base .info-contratadas .imgs-contratadas .img-responsive {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 350px) {
  .container-contratadas .base .info-contratadas .imgs-contratadas .img-responsive {
    width: 100%;
    height: 200px;
  }
}

.container-contratadas .base .info-contratadas h2 {
  font-family: var(--font-josefin);
  color: #6a0dad;
  padding: 5px 0;
  font-size: 25px;
}

.container-contratadas .base .info-contratadas .text {
  text-align: start;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 10px;
  display: flex;
}

.container-contratadas .base .info-contratadas .text p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

.container-contratadas .base .info-contratadas .text .sumario {
  background-color: #cfcfcf;
  border-radius: 10px;
  padding: 20px;
}

.container-contratadas .base .info-contratadas .text .sumario ol {
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  font-weight: 600;
  list-style: decimal;
  display: flex;
}

.container-contratadas .base .info-contratadas .text .sumario ol a {
  color: #222;
}

.container-contratadas .base .info-contratadas .text .sumario ol ol {
  margin-left: 20px;
  font-weight: 500;
}

.container-contratadas .base .info-contratadas .text .sumario ol ol li {
  margin-top: 10px;
}

.container-contratadas .base .info-contratadas .text h2 {
  color: #2b96c7;
  scroll-margin-top: 120px;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 650px) {
  .container-contratadas .base .info-contratadas .text h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

.container-contratadas .base .info-contratadas .text h3 {
  color: #3a3434;
  scroll-margin-top: 120px;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}

.container-contratadas .base .info-contratadas .text h4 {
  color: #3a3434;
  scroll-margin-top: 120px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}

.container-contratadas .base .info-contratadas .text strong {
  font-weight: 600;
}

.container-contratadas .base .info-contratadas .text a {
  color: #00699b;
}

.base-includes {
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 1600px;
  display: flex;
}

.saiba-mais {
  font-family: var(--font-josefin);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
  display: flex;
}

@media (max-width: 825px) {
  .saiba-mais {
    display: none !important;
  }
}

.saiba-mais h3 {
  color: #3d3d3d;
  font-size: 25px;
  font-weight: 600;
}

.saiba-mais a {
  color: #fff;
  background-color: #8e24aa;
  border-radius: 10px;
  padding: 10px 20px;
  transition: all .3s;
}

.saiba-mais a:hover {
  background-color: #6a0dad;
  transition: all .3s;
}

.sidebar-content {
  background-color: #f7f7f7;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10px;
  margin-right: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
}

@media (max-width: 825px) {
  .sidebar-content {
    display: none !important;
  }
}

.sidebar-content h2 {
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  color: #fff;
  background-color: #6a0dad;
  border-radius: 10px 10px 0 0;
  margin: 0 0 5px;
  padding: 15px 0;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.sidebar-content ul {
  max-height: 600px;
  overflow-y: scroll;
}

.sidebar-content ul li {
  border-bottom: 1px solid rgba(102, 102, 102, .57);
}

.sidebar-content ul li a {
  color: #505050;
  background-color: rgba(255, 255, 255, 0);
  padding: 6px 10px;
  font-size: 12px;
  font-weight: normal;
  display: block;
}

.mais-visitadas {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

@media (max-width: 825px) {
  .mais-visitadas {
    display: none !important;
  }
}

.mais-visitadas .base {
  text-align: justify;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, .173);
  flex-direction: column;
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  gap: 10px !important;
}

.mais-visitadas .base h2 {
  color: #505050;
  background: #fff;
  justify-content: center;
  margin: 0 0 5px;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

.mais-visitadas .base .mais-visitadas-box {
  flex-flow: wrap;
  justify-content: center;
  gap: 2px;
  padding: 10px 20px;
  display: flex;
}

.mais-visitadas .base .mais-visitadas-box a {
  color: #000;
  border-bottom: 1px dotted #ccc;
  margin: 4px 9px;
  display: inline-block;
}

.tags-pagina {
  color: #424242;
  background-color: #f8f8f8;
  width: 100%;
  margin: 10px 0 0;
  padding: 5px;
  font-size: 14px;
}

@media (max-width: 825px) {
  .tags-pagina {
    display: none !important;
  }
}

.tags-pagina strong {
  font-weight: 600;
}

.direitos-autorais-conteudo {
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 20px;
}

@media (max-width: 825px) {
  .direitos-autorais-conteudo {
    display: none !important;
  }
}

.direitos-autorais-conteudo strong {
  font-weight: 600;
}

.direitos-autorais-conteudo a {
  color: #6a0dad;
  font-weight: 700;
}

@media (max-width: 825px) {
  .outros-assuntos {
    display: none !important;
  }
}

.outros-assuntos h2 {
  text-align: center;
  color: #424242;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
}

.outros-assuntos .slick-slider {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.outros-assuntos .slick-slider .slick-prev:before, .outros-assuntos .slick-slider .slick-next:before {
  color: #666;
}

.outros-assuntos .slick-slider .slick-slide {
  flex-direction: column;
  display: flex;
}

.outros-assuntos .slick-slider .slick-slide img {
  object-fit: cover;
  object-position: top;
  width: 98%;
  height: 280px;
  padding-bottom: 5px;
  display: block;
}

.outros-assuntos .slick-slider .slick-slide a {
  color: #424242;
  font-size: 11px;
  text-decoration: underline;
}

/* [project]/src/components/TitlePage/TitlePage.module.scss.module.css [app-client] (css) */
.TitlePage-module-scss-module__i9WeWG__titlePage {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(50deg, rgba(0, 0, 0, .52), rgba(0, 0, 0, .282)), url("/titulo-pagina.webp");
  background-position: 0 0, bottom;
  background-repeat: repeat, no-repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 200px 0 80px;
  display: flex;
}

@media (max-width: 600px) {
  .TitlePage-module-scss-module__i9WeWG__titlePage {
    padding: 165px 0 45px;
  }
}

.TitlePage-module-scss-module__i9WeWG__titlePage h1 {
  font-family: var(--font-josefin);
  padding: 0 10px;
  font-size: 3em;
}

@media (max-width: 1024px) {
  .TitlePage-module-scss-module__i9WeWG__titlePage h1 {
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (max-width: 490px) {
  .TitlePage-module-scss-module__i9WeWG__titlePage h1 {
    text-align: center;
    font-size: 2rem;
  }
}

/* [project]/src/components/ModalImages/ModalImages.scss.css [app-client] (css) */
.modal {
  z-index: 999;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .75);
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal .container {
  cursor: default;
  background-color: rgba(0, 0, 0, 0);
  width: 90%;
  height: 90%;
  position: relative;
}

.modal .container img {
  object-fit: contain;
  border-radius: 10px;
  max-width: 100% !important;
  max-height: 100% !important;
  width: 100% I !important;
}

@media (max-height: 775px) {
  .modal .container img {
    max-height: 450px;
  }
}

.modal .container .closeModal {
  color: #000;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  transition: all .3s;
  display: flex;
  position: absolute;
  top: 30px;
  right: 10px;
}

.modal .container .closeModal:hover {
  color: #fff;
  background-color: #1ac3cf;
}

.dropdown {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  background: #fff;
  border: 1px solid #ccc;
  min-width: 220px;
  transition: all .3s;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.dropdown button {
  text-align: left;
  cursor: pointer;
  background: #fff;
  border: none;
  width: 100%;
  padding: .75rem 1rem;
  text-align: center !important;
  border-radius: 0 !important;
}

.dropdown button:hover, .dropdown button.actived {
  background-color: #f2f2f2;
}

.dropdown.ativo {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* [project]/node_modules/slick-carousel/slick/slick.css [app-client] (css) */
.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  display: block;
  position: relative;
}

.slick-list {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  border: 1px solid rgba(0, 0, 0, 0);
  height: auto;
  display: block;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* [project]/node_modules/slick-carousel/slick/slick-theme.css [app-client] (css) */
.slick-loading .slick-list {
  background: #fff url("../media/ajax-loader.d5c1e833.gif") center no-repeat;
}

@font-face {
  font-family: slick;
  font-weight: normal;
  font-style: normal;
  src: url("../media/slick.3392c85e.eot");
  src: url("../media/slick.3392c85e.eot") format("embedded-opentype"), url("../media/slick.265d68e3.woff") format("woff"), url("../media/slick.31421072.ttf") format("truetype"), url("../media/slick.5f2cd927.svg") format("svg");
}

.slick-prev, .slick-next {
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
  background: none;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: rgba(0, 0, 0, 0);
  background: none;
  outline: none;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before, .slick-next:before {
  opacity: .75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: slick;
  font-size: 20px;
  line-height: 1;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: absolute;
  bottom: -25px;
}

.slick-dots li {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  display: inline-block;
  position: relative;
}

.slick-dots li button {
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
  background: none;
  border: 0;
  outline: none;
  width: 20px;
  height: 20px;
  padding: 5px;
  font-size: 0;
  line-height: 0;
  display: block;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  content: "•";
  text-align: center;
  opacity: .25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000;
}

/*# sourceMappingURL=_3a0ecf6f._.css.map*/