/* [project]/src/partials/Rodape/rodape.scss.css [app-client] (css) */
footer {
  color: #000;
  background-color: #ce93d8;
}

footer .top {
  justify-content: space-between;
  align-items: stretch;
  max-width: 85%;
  margin: 0 auto;
  padding: 70px 0;
  line-height: 30px;
  display: flex;
}

@media (max-width: 768px) {
  footer .top .menuFooter ul li, footer .top .contactFooter ul li {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

footer .top .contactFooter {
  flex-direction: column;
  display: flex;
}

footer .top .contactFooter ul li {
  color: #fff;
  align-items: center;
  gap: 5px;
  display: flex;
}

footer .top li a {
  font-family: var(--font-poppins);
  color: #fff;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  position: relative;
}

footer .top li a:before {
  content: "";
  transform-origin: 0;
  background-color: #fff;
  width: 100%;
  height: 2px;
  transition: all .4s;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}

footer .top li a:hover:before {
  transform: scaleX(1);
}

@media (max-width: 768px) {
  footer .top li a {
    justify-content: center;
  }
}

footer .top h2 {
  font-size: 24px;
  font-weight: 800;
  font-family: var(--font-josefin);
  color: #2b004f;
}

footer .top .logoFooter {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 1024px) {
  footer .top .logoFooter {
    width: 100%;
    padding: 0 0 31px;
  }
}

footer .top .logoFooter img {
  width: 250px;
}

@media (max-width: 1024px) {
  footer .top {
    flex-wrap: wrap;
    justify-items: center;
    display: flex;
  }
}

@media (max-width: 768px) {
  footer .top {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    display: flex;
  }
}

footer .footerSelos {
  flex-wrap: wrap;
  place-content: center;
  align-items: center;
  display: flex;
}

footer .footerSelos .logoYaslip {
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 200px;
  display: flex;
}

footer .footerSelos .logoYaslip a {
  width: 100%;
}

footer .footerSelos .logoYaslip object {
  width: 100px;
  height: 160px;
}

@media (max-width: 768px) {
  footer .footerSelos .logoYaslip {
    width: 100%;
  }

  footer .footerSelos .logoYaslip img {
    width: 130px;
  }
}

footer .footerSelos ul {
  gap: 10px;
  display: flex;
}

footer .footerSelos ul a:before {
  height: 0;
}

footer .bottomRowFooter {
  text-align: center;
  color: #fff;
  font-family: var(--font-josefin);
  background-color: #8e24aa;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  display: flex;
}

@media (max-width: 768px) {
  footer .bottomRowFooter {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 79px;
  }
}

footer .bottomRowFooter img {
  width: 42px;
  height: 60px;
}

.whatsapp-animate-circulo-pulse, .whatsapp-btn-bg {
  border-radius: 100%;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.zoomIn {
  animation-name: zoomIn;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.whatsapp-btn {
  z-index: 2;
  display: block;
}

@media (max-width: 768px) {
  .whatsapp-btn {
    display: none !important;
  }
}

.whatsapp-animate-circulo-pulse {
  opacity: .1;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #43b91e;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  position: fixed;
  bottom: 96px;
  right: 15px;
}

.whatsapp-btn-config {
  opacity: 1;
  -o-transition: all .2s ease-in-out;
  transform-origin: 50%;
  z-index: 999999;
  background: rgba(30, 30, 30, .1) url("/selos/WhatsAppButton.webp") center / 100% no-repeat;
  border-radius: 100%;
  width: 47px;
  height: 47px;
  transition: all .2s ease-in-out;
  position: fixed;
  bottom: 118px;
  right: 37px;
}

.whatsapp-btn-bg {
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .5s;
  z-index: 999999;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  transition: all .5s;
  position: fixed;
  bottom: 111px;
  right: 31px;
  opacity: .4 !important;
}

.whatsapp-btn-bg, .whatsapp-btn-bg, .whatsapp-btn-config {
  background-color: #43b91e;
}

.tada {
  animation-name: tada;
}

@keyframes tada {
  from, to {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9)rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1)rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1)rotate3d(0, 0, 1, -3deg);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

/*# sourceMappingURL=src_partials_Rodape_rodape_scss_css_bad6b30c._.single.css.map*/