/* [project]/src/styles/index.scss.css [app-client] (css) */
.title-main {
  color: #6a0dad;
  font-family: var(--font-open-sans);
  align-items: center;
  margin-left: 80px;
  font-size: 14px;
  display: flex;
  position: relative;
}

.title-main:before {
  content: "";
  background-color: #6a0dad;
  width: 60px;
  height: 2px;
  position: absolute;
  left: -70px;
}

@media (max-width: 500px) {
  .title-main:before {
    width: 30px;
    left: -40px;
  }

  .title-main {
    margin-left: 50px;
  }
}

.span-content {
  font-family: var(--font-open-sans);
  align-items: center;
  padding-left: 30px;
  font-size: .9rem;
  font-weight: 500;
  display: flex;
  position: relative;
}

.span-content:before {
  content: "";
  background-color: #8e24aa;
  width: 3px;
  height: 90%;
  position: absolute;
  left: 0;
}

@media (max-width: 500px) {
  .span-content:before {
    left: -10px;
  }

  .span-content {
    text-align: justify;
    padding-left: 0;
  }
}

.banner {
  z-index: 2;
  position: relative;
}

.banner .slide-item {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.banner .slide-item h2 {
  font-size: 3rem;
}

.banner .slide-item p {
  max-width: 500px;
  font-size: 1.2rem;
}

.banner .slide-item.banner-1 {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(53deg, rgba(0, 0, 0, .376), rgba(0, 0, 0, .22)), url("../media/banner1.22b2cc03.webp");
  background-position: 0 0, center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
}

.banner .slide-item.banner-2 {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(53deg, rgba(0, 0, 0, .376), rgba(0, 0, 0, .22)), url("../media/banner2.b88703dc.webp");
  background-position: 0 0, center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
}

.banner .slide-item.banner-3 {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(53deg, rgba(0, 0, 0, .376), rgba(0, 0, 0, .22)), url("../media/banner3.dc84c801.webp");
  background-position: 0 0, center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
}

.banner .swiper-button-prev, .banner .swiper-button-next {
  color: #fff;
  background: rgba(0, 0, 0, .4);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 10px;
  transition: all .3s;
}

.banner .swiper-button-prev:hover, .banner .swiper-button-next:hover {
  background: rgba(0, 0, 0, .7);
  transform: scale(1.1);
}

.banner .swiper-button-prev {
  left: 30px !important;
}

.banner .swiper-button-next {
  right: 30px !important;
}

.services {
  background-color: #6a0dad;
  justify-content: center;
  align-items: center;
  display: flex;
}

.services .base {
  width: 100%;
  font-family: var(--font-josefin);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 50px 0;
  display: flex;
}

.services .base .service-item {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  display: flex;
}

.services .base .service-item svg {
  color: #ce93d8;
  font-size: 80px;
}

.services .base .service-item p {
  font-size: 20px;
}

.container {
  background-color: #eee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 20px;
  display: flex;
}

.container .base {
  flex-direction: column;
  gap: 100px;
  width: 100%;
  display: flex;
}

.container .base .box-casa-1, .container .base .box-casa-2 {
  flex-direction: column;
  gap: 50px;
  display: flex;
}

.container .base .box-casa-1 .casa-1, .container .base .box-casa-1 .casa-2, .container .base .box-casa-2 .casa-1, .container .base .box-casa-2 .casa-2 {
  gap: 30px;
  display: flex;
}

@media (max-width: 1190px) {
  .container .base .box-casa-1 .casa-1, .container .base .box-casa-1 .casa-2, .container .base .box-casa-2 .casa-1, .container .base .box-casa-2 .casa-2 {
    flex-wrap: wrap;
  }
}

.container .base .box-casa-1 .casa-1 .left img, .container .base .box-casa-1 .casa-2 .left img, .container .base .box-casa-2 .casa-1 .left img, .container .base .box-casa-2 .casa-2 .left img {
  border-radius: 20px;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
}

@media (max-width: 1190px) {
  .container .base .box-casa-1 .casa-1 .left img, .container .base .box-casa-1 .casa-2 .left img, .container .base .box-casa-2 .casa-1 .left img, .container .base .box-casa-2 .casa-2 .left img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container .base .box-casa-1 .casa-1 .left img, .container .base .box-casa-1 .casa-2 .left img, .container .base .box-casa-2 .casa-1 .left img, .container .base .box-casa-2 .casa-2 .left img {
    width: 100%;
  }
}

.container .base .box-casa-1 .casa-1 .right, .container .base .box-casa-1 .casa-2 .right, .container .base .box-casa-2 .casa-1 .right, .container .base .box-casa-2 .casa-2 .right {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.container .base .box-casa-1 .casa-1 .right .casa-title, .container .base .box-casa-1 .casa-2 .right .casa-title, .container .base .box-casa-2 .casa-1 .right .casa-title, .container .base .box-casa-2 .casa-2 .right .casa-title {
  color: #8e24aa;
  font-family: var(--font-josefin);
  font-size: 30px;
}

.container .base .box-casa-1 .casa-1 .right .casa-location, .container .base .box-casa-1 .casa-2 .right .casa-location, .container .base .box-casa-2 .casa-1 .right .casa-location, .container .base .box-casa-2 .casa-2 .right .casa-location {
  font-family: var(--font-josefin);
  color: #ab47bc;
  align-items: center;
  gap: 3px;
  font-size: 17px;
  font-weight: 500;
  display: flex;
}

@media (max-width: 610px) {
  .container .base .box-casa-1 .casa-1 .right .casa-location, .container .base .box-casa-1 .casa-2 .right .casa-location, .container .base .box-casa-2 .casa-1 .right .casa-location, .container .base .box-casa-2 .casa-2 .right .casa-location {
    flex-direction: column;
    align-items: flex-start;
  }
}

.container .base .box-casa-1 .casa-1 .right .casa-location span, .container .base .box-casa-1 .casa-2 .right .casa-location span, .container .base .box-casa-2 .casa-1 .right .casa-location span, .container .base .box-casa-2 .casa-2 .right .casa-location span {
  font-weight: 800;
}

.container .base .box-casa-1 .casa-1 .right .casa-location svg, .container .base .box-casa-1 .casa-2 .right .casa-location svg, .container .base .box-casa-2 .casa-1 .right .casa-location svg, .container .base .box-casa-2 .casa-2 .right .casa-location svg {
  margin-bottom: 5px;
}

.container .base .box-casa-1 .casa-1 .right .casa-description, .container .base .box-casa-1 .casa-2 .right .casa-description, .container .base .box-casa-2 .casa-1 .right .casa-description, .container .base .box-casa-2 .casa-2 .right .casa-description {
  color: #2e2e2e;
  font-family: var(--font-poppins);
  flex-direction: column;
  gap: 15px;
  font-size: 17px;
  font-weight: 400;
  display: flex;
}

@media (max-width: 610px) {
  .container .base .box-casa-1 .casa-1 .right .casa-description, .container .base .box-casa-1 .casa-2 .right .casa-description, .container .base .box-casa-2 .casa-1 .right .casa-description, .container .base .box-casa-2 .casa-2 .right .casa-description {
    text-align: justify;
  }
}

.container .base .box-casa-1 .imagens, .container .base .box-casa-2 .imagens {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  display: flex;
}

@media (max-width: 1470px) {
  .container .base .box-casa-1 .imagens, .container .base .box-casa-2 .imagens {
    justify-content: flex-start;
    gap: 30px;
  }
}

@media (max-width: 889px) {
  .container .base .box-casa-1 .imagens, .container .base .box-casa-2 .imagens {
    justify-content: space-between;
    width: 100%;
  }
}

.container .base .box-casa-1 .imagens img, .container .base .box-casa-2 .imagens img {
  object-fit: cover;
  width: 350px;
  height: 350px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .21);
}

@media (max-width: 1470px) {
  .container .base .box-casa-1 .imagens img, .container .base .box-casa-2 .imagens img {
    width: 40%;
    height: 400px;
  }
}

@media (max-width: 889px) {
  .container .base .box-casa-1 .imagens img, .container .base .box-casa-2 .imagens img {
    justify-content: space-between;
    width: 100%;
  }
}

.container-contato {
  width: 100%;
  font-family: var(--font-open-sans);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-contato .base {
  justify-content: space-around;
  gap: 50px;
  width: 100%;
  padding: 50px 20px;
  display: flex;
}

@media (max-width: 840px) {
  .container-contato .base {
    flex-wrap: wrap;
  }
}

.container-contato .base .box-title {
  flex-direction: column;
  display: flex;
}

.container-contato .base .box-title .title {
  font-family: var(--font-poppins);
  color: #8e24aa;
  margin-bottom: 10px;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .container-contato .base .box-title .title {
    font-size: 2rem;
  }
}

.container-contato .base .box-title .description {
  color: #2e2e2e;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3rem;
}

.container-contato .base .box-details {
  color: #000;
  flex-direction: column;
  gap: 10px;
  display: flex;
}

@media (max-width: 840px) {
  .container-contato .base .box-details {
    width: 100%;
  }
}

.container-contato .base .box-details .contact {
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.container-contato .base .box-details .contact a {
  color: #3f3f3f;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 0;
  font-size: 1.2rem;
  display: flex;
}

.container-contato .base .box-details .contact a svg {
  color: #2b2b2b;
  font-size: 23px;
  transition: all .3s;
}

.container-contato .base .box-details .contact a:hover {
  color: #ab47bc;
  transition: all .3s;
}

.container-contato .base .box-details .contact a:hover svg {
  color: #ce93d8;
  transition: all .3s;
}

.container-contato iframe {
  border: none;
  width: 100%;
  height: 500px;
  box-shadow: 10px 10px 20px 5px rgba(43, 43, 43, .384);
}

.included-form {
  width: 100%;
  font-family: var(--font-open-sans);
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.included-form .base {
  justify-content: space-around;
  gap: 50px;
  width: 100%;
  padding: 50px 20px;
  display: flex;
}

@media (max-width: 840px) {
  .included-form .base {
    flex-wrap: wrap;
  }
}

.included-form .base .box-title {
  flex-direction: column;
  display: flex;
}

.included-form .base .box-title .title {
  font-family: var(--font-poppins);
  color: #8e24aa;
  margin-bottom: 10px;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .included-form .base .box-title .title {
    font-size: 2rem;
  }
}

.included-form .base .box-title .description {
  color: #2e2e2e;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3rem;
}

.included-form .base .box-details {
  color: #000;
  flex-direction: column;
  gap: 10px;
  display: flex;
}

@media (max-width: 840px) {
  .included-form .base .box-details {
    width: 100%;
  }
}

.included-form .base .box-details .contact {
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.included-form .base .box-details .contact a {
  color: #3f3f3f;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 0;
  font-size: 1.2rem;
  display: flex;
}

.included-form .base .box-details .contact a svg {
  color: #2b2b2b;
  font-size: 23px;
}

.included-form .base .box-details .contact a:hover {
  color: #ab47bc;
  transition: all .3s;
}

.included-form .base .box-details .contact a:hover svg {
  color: #ce93d8;
  transition: all .3s;
}

/*# sourceMappingURL=src_styles_index_scss_css_bad6b30c._.single.css.map*/