.titlePage {
  padding: 200px 0 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background: #8517cf;
  background: -webkit-linear-gradient(
    168deg,
    rgba(133, 23, 207, 1) 0%,
    rgba(106, 70, 252, 1) 93%
  );
  background: -moz-linear-gradient(
    168deg,
    rgba(133, 23, 207, 1) 0%,
    rgba(106, 70, 252, 1) 93%
  );
  background: linear-gradient(
    168deg,
    rgba(133, 23, 207, 1) 0%,
    rgba(106, 70, 252, 1) 93%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#8517CF",
  endColorstr="#6A46FC",
  GradientType=0
);
  background-size: cover;

  @media (max-width: 600px) {
    padding: 140px 0 45px;
  }

  h1 {
    font-family: var(--font-josefin);
    font-size: 3em;
    padding: 0px 10px;

    @media (max-width: 1024px) {
      font-size: 2.5rem;
      text-align: center;
    }

    @media (max-width: 490px) {
      font-size: 2rem;
      text-align: center;
    }
  }
}
