@use "../../styles/colors.scss" as *;


// ========================
// Variáveis
// ========================
$size: 56px;
// verde base
$primary: #92bda8;
// dourado destaque
$accent: #ebc343;

$bg-color: $primary;
$blur: 12px;
$text-color: #ffffff;
$bg-ring: rgba(146, 189, 168, 0.25);
$transition-speed: 0.5s;


/* ---------------------- Rodape Mobile ------------------ */
.rodape-mobile {
  width: 100%;
  color: #ffffff;
  // background: $color-purple-2;
  height: auto;
  position: fixed;
  width: 100%;
  background-color: rgba(223, 223, 223, 0.588);
  backdrop-filter: blur(15px);
  box-shadow: 0 5px 20px 2px #303b41b8;
  // box-shadow: 0px 10px 10px 6px #1a1a1a;
  bottom: 0;
  padding: 5px 0;
  z-index: 5;

  .icones-rodape {
    display: flex;
    justify-content: space-around;

    a {
      margin: 5px 20px;
    }

    .icone {
      border-radius: 55px;
      color: white;
      font-size: 23px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .phone {
      background: #558ada;
    }

    .envelope {
      background: #f00;
    }

    .whatsapp {
      background-color: #49ca59;
    }

    .voltar-para-o-topo-mobile {
      background-color: #f5f5f5;

      svg {
        color: #000;
      }
    }
  }
}
