.rodape-mobile {
  width: 100%;
  color: #ffffff;
  height: auto;
  position: fixed;
  background-color: rgba(223, 223, 223, 0.588);
  backdrop-filter: blur(15px);
  box-shadow: 0 5px 20px 2px #303b41b8;
  bottom: 0;
  padding: 5px 0;
  z-index: 5;

  .icones-rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a,
    button {
      margin: 5px 20px;
    }

    .icone {
      border-radius: 55px;
      color: white;
      font-size: 23px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border: none;
      outline: none;
      flex-shrink: 0;
    }

    .phone {
      background: #558ada;
    }

    .envelope {
      background: #f00;
    }

    .whatsapp {
      background-color: #49ca59;
    }

    .voltar-para-o-topo-mobile {
      background-color: #f4bc33 !important;
    }
  }
}